h3 {
    color: darkblue;
}

nav {
    background: #E44D26; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F16529, #E44D26); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-dark, .navbar-brand {
    color: #fff !important;
}

.navbar-dark, .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
}

nav .navbar-toggler-right {
    line-height: 30px;
}

nav .fa-bars {
    color: #ffffff;
}

.btn-outline-light {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
}

.offline {
    background: #a2a2a2;
}