<div class="mt-2">
  <h4>Gefeliciteerd!</h4>
  <div class="row">
    <div class="stepwizard">
      <div class="stepwizard-row">
        <div class="stepwizard-step">
          <button type="button" class="btn btn-primary btn-circle">1</button>
          <p>Gegevens</p>
        </div>
        <div class="stepwizard-step">
          <button type="button" class="btn btn-primary btn-circle">2</button>
          <p>Betaalwijze</p>
        </div>
        <div class="stepwizard-step">
          <button type="button" class="btn btn-primary btn-circle" disabled="disabled">3</button>
          <p>Voltooien</p>
        </div>
      </div>
    </div>
  </div>
  Jouw betaling is geslaagd en wordt zo snel mogelijk verzonden.
  <div class="congrats text-center m-5">
    <i class="fa fa-check-circle fa-6"></i>
  </div>
  <div class="p-3 fixed-bottom">
    <a class="btn btn-success btn-lg btn-block"
       [routerLink]="['']">
      Terug naar home
    </a>
  </div>
</div>