<div class="list-group">
    <a
            [routerLink]="['/person', person.id]"
            class="list-group-item"
            *ngFor="let person of people">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ person.full_name }}</h5>
            <small class="text-muted">{{ person.age }} jaar oud</small>
        </div>
        <p class="d-flex w-100">{{ person.description }}</p>
        <small class="text-muted">Komt uit {{ person.country }}</small>
    </a>
</div>
