.product-list .card{
    padding: 0;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.in-cart {
    float: right;
}

.price {
    font-size: 25px;
}

.card-deck .card:first-child {
    margin-top: 15px;
}

.card img {
    width: 150px;
    height: 150px;
    margin: 15px auto;
}

