<div class="card-deck row">
    <div
        class="col-lg-4 col-md-4 col-sm-6"
        *ngFor="let product of products">
        <div class="card">
            <img class="card-img-top" src="{{ product.avatar }}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{ product.title }}</h4>
                <p class="card-text">{{ product.description }}</p>
                <span class="price">€ {{ product.price }}</span>
                <button
                        class="btn btn-outline-success in-cart"
                        (click)="onAddToShoppingCart(product.id)">In winkelwagen
                </button>
            </div>
        </div>
    </div>
</div>

<app-shopping-cart-widget
        [inShoppingCartCount]="inShoppingCartCount"></app-shopping-cart-widget>