<div [hidden]="contentIsLoaded">
    <div class="timeline-wrapper">
        <div class="timeline-item">
            <div class="animated-background facebook">
                <div class="background-masker header-top"></div>
                <div class="background-masker header-left"></div>
                <div class="background-masker header-right"></div>
                <div class="background-masker header-bottom"></div>
                <div class="background-masker subheader-left"></div>
                <div class="background-masker subheader-right"></div>
                <div class="background-masker subheader-bottom"></div>
                <div class="background-masker content-top"></div>
                <div class="background-masker content-first-end"></div>
                <div class="background-masker content-second-line"></div>
                <div class="background-masker content-second-end"></div>
                <div class="background-masker content-third-line"></div>
                <div class="background-masker content-third-end"></div>
            </div>
        </div>
    </div>
    <div class="timeline-wrapper">
        <div class="timeline-item">
            <div class="animated-background facebook">
                <div class="background-masker header-top"></div>
                <div class="background-masker header-left"></div>
                <div class="background-masker header-right"></div>
                <div class="background-masker header-bottom"></div>
                <div class="background-masker subheader-left"></div>
                <div class="background-masker subheader-right"></div>
                <div class="background-masker subheader-bottom"></div>
                <div class="background-masker content-top"></div>
                <div class="background-masker content-first-end"></div>
                <div class="background-masker content-second-line"></div>
                <div class="background-masker content-second-end"></div>
                <div class="background-masker content-third-line"></div>
                <div class="background-masker content-third-end"></div>
            </div>
        </div>
    </div>
    <div class="timeline-wrapper">
        <div class="timeline-item">
            <div class="animated-background facebook">
                <div class="background-masker header-top"></div>
                <div class="background-masker header-left"></div>
                <div class="background-masker header-right"></div>
                <div class="background-masker header-bottom"></div>
                <div class="background-masker subheader-left"></div>
                <div class="background-masker subheader-right"></div>
                <div class="background-masker subheader-bottom"></div>
                <div class="background-masker content-top"></div>
                <div class="background-masker content-first-end"></div>
                <div class="background-masker content-second-line"></div>
                <div class="background-masker content-second-end"></div>
                <div class="background-masker content-third-line"></div>
                <div class="background-masker content-third-end"></div>
            </div>
        </div>
    </div>
</div>

<div class="card-deck row">
    <div
            class="col-lg-4 col-md-4 col-sm-6"
            *ngFor="let product of products">
            <div class="card box text-center">
                <a class="text-dark" [routerLink]="['/product', product.id]">

                <div
                        class="ribbon"
                        *ngIf="product.onSale"><span>Sale</span></div>
                <img class="card-img-top" src="{{ product.avatar }}" alt="product_image">
                <div class="card-body">
                    <h4 class="card-title">{{ product.title }}</h4>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                </a>
                <div class="card-footer">
                    <span class="price">€ {{ product.price }}</span>
                    <button
                            class="btn btn-outline-success in-cart"
                            (click)="onAddToShoppingCart(product.id)">In winkelwagen
                    </button>
                </div>
            </div>
    </div>
</div>



<app-shopping-cart-widget
        [inShoppingCartCount]="inShoppingCartCount"></app-shopping-cart-widget>