<div class="product">
    <div class="col-xs-12 text-center p-4">
        <img src="{{ product.avatar }}" alt="">
    </div>
    <div class="details">
        <h4>{{ product.title }}</h4>
        <p>{{ product.description }}</p>
    </div>
    <span class="price">
        € {{ product.price }}
    </span>
    <button
            class="btn btn-outline-success in-cart pull-right"
            (click)="onAddToShoppingCart(product.id)">In winkelwagen
    </button>

</div>

<div class="container-fluid related-products">

    <h5>Anderen kochten ook</h5>
    <ul class="list-group">
        <a class="related-link text-dark" *ngFor="let relatedProduct of relatedProducts"
           [routerLink]="['/product', relatedProduct.id]"
            (click)="switchProduct(product.id)">
            <li class="list-group-item">
                <img src="{{ relatedProduct.avatar }}" alt="">
                <div class="info pull-right">
                    {{ relatedProduct.title }}
                    <br>
                    € {{ relatedProduct.price }}
                    <button class="btn btn-outline-success add-to-cart">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </li>
        </a>

    </ul>
</div>

<app-shopping-cart-widget
        [inShoppingCartCount]="inShoppingCartCount"></app-shopping-cart-widget>

