Change error status..
<br>
<button class="btn btn-success" (click)="onUpdateErrorStatus('success')" [disabled]="errorMessage === ''">Success</button>
<button class="btn btn-warning" (click)="onUpdateErrorStatus('warning')" [disabled]="errorMessage === ''">Warning</button>
<button class="btn btn-danger" (click)="onUpdateErrorStatus('danger')" [disabled]="errorMessage === ''">Danger</button>
<button class="btn btn-info" (click)="onUpdateErrorStatus('info')" [disabled]="errorMessage === ''">Info</button>
<br>
<br>
Change error message..
<!--<input-->
        <!--type="text"-->
        <!--class="form-control"-->
        <!--placeholder="Error message.."-->
        <!--(input)="onUpdateErrorMessage($event)">-->
<input
        type="text"
        class="form-control"
        placeholder="Error message.."
        [(ngModel)]="errorMessage">

<br>
<div class="alert alert-{{ errorStatus }}" role="alert" *ngIf="errorMessageCreated; else noErrorMessage">
  Error message: {{ errorMessage }}
</div>

<ng-template #noErrorMessage>
  <p>No error message!</p>
</ng-template>

<div class="alert alert-success" *ngFor="let alert of alerts"></div>