<div class="category-list row">
    <a
            [routerLink]="['/category/wijn']"
            class="category col-sm-3">
        <div>
            <img src="https://static.ahold.com/image-optimization/cmgtcontent/media//000749200/000/000749292_004_Cat_wijn.png?options=399x,q75"
                 alt="category_wijn">
        </div>
        <h5>
            Wijnen
        </h5>
    </a>
    <a
            [routerLink]="['/category/kaas']"
            class="category col-sm-3">
        <div>
            <img src="https://static.ahold.com/image-optimization/cmgtcontent/media//001002100/000/001002106_002_Shelf-_0003_kaas-vlees.png?options=399x,q75"
                 alt="category_kaas">
        </div>
        <h5>
            Kazen
        </h5>
    </a>
    <a
            [routerLink]="['/category/groenten']"
            class="category col-sm-3">
        <div>
            <img src="https://static.ahold.com/image-optimization/cmgtcontent/media//001002000/000/001002086_002_Shelf-_0000_Aardappelen-groente-fruit.png?options=399x,q75"
                 alt="category_groenten">
        </div>
        <h5>
            Groenten
        </h5>
    </a>
    <a
            [routerLink]="['/category/bakkerij']"
            class="category col-sm-3">
        <div>
            <img src="https://static.ahold.com/image-optimization/cmgtcontent/media//001002000/000/001002098_002_Shelf-_0005_bakkerij.png?options=399x,q75"
                 alt="category_bakkerij">
        </div>
        <h5>
            Bakkerij
        </h5>
    </a>
    <a
            [routerLink]="['/category/zuivel']"
            class="category col-sm-3">
        <div>
            <img src="https://static.ahold.com/image-optimization/cmgtcontent/media//001002100/000/001002190_002_Shelf-_0004_zuivel-eiren.png?options=399x,q75"
                 alt="category_zuivel">
        </div>
        <h5>
            Zuivel
        </h5>
    </a>
    <a
            [routerLink]="['/category/frisdrank']"
            class="category col-sm-3">
        <div>
            <img src="https://static.ahold.com/image-optimization/cmgtcontent/media//001002100/000/001002102_003_app_cat_fridrank.png?options=399x,q75"
                 alt="category_frisdrank">
        </div>
        <h5>
            Frisdrank
        </h5>
    </a>
</div>