.nav-link {
    color: #ffffff;
}

#search-input, #search-input:hover, #search-input:focus {
    background: transparent;
    border-width: 0px 0px 2px 0px;
    border-color: #ffffff;
    line-height: 35px;
    width: 100%;
}

#search-input[placeholder] {
    color: #ffffff;
}

.navbar-search-wrapper {
    background: #E44D26;
    background: -webkit-linear-gradient(to right, #F16529, #E44D26);
    background: linear-gradient(to right, #F16529, #E44D26);
    position: fixed;
    padding: 10px 10px 10px 10px;
    left: 0;
    right: 0;
    top: 0px;
    z-index: 9999;
    display: flex;
}


/*ToDo maybe this on mobile res*/
/*.search-results {*/
    /*background: #E44D26;*/
    /*background: -webkit-linear-gradient(to right, #F16529, #E44D26);*/
    /*background: linear-gradient(to right, #F16529, #E44D26);*/
    /*height: 100vh;*/
    /*padding: 15px;*/
/*}*/

.search-results .list-group {
    width: 100%;
}

