<div class="row">
    <table class="table shopping-cart-list">
        <thead>
        <tr class="m-0">
            <th scope="col" class="w-10"></th>
            <th scope="col" class="w-50">Product</th>
            <th scope="col" class="w-10">Aantal</th>
            <th scope="col" class="w-50">Prijs</th>
        </tr>
        </thead>
        <tbody>
        <tr
                class="product m-0"
                *ngFor="let product of products"
                (swipeleft)="swipe(product.id)" (swiperight)="swipe(product.id)">
            <td class="w-10">
                <img src="{{ product.avatar }}" class="avatar" alt="product image">
            </td>
            <td class="product-name w-50">{{ product.title }}</td>
            <td class="w-10">
                <input class="form-control amount" type="number" value="{{ product.quantity }}">
            </td>
            <td class="price w-50">€ {{ product.cartPrice }}</td>
        </tr>
        <tr
                *ngIf="products.length === 0">
            <td colspan="4" class="cart-empty">Leeg :(</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="shopping-cart-details fixed-bottom">
    <table class="table">
        <tbody>
        <tr>
            <th><h3>Totaal</h3></th>
            <th><h3 class="float-right">€ {{ shoppingCartPriceTotal }}</h3></th>
        </tr>
        </tbody>
    </table>
    <a
            class="btn btn-outline-secondary"
            [routerLink]="['']">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Verder winkelen
    </a>
    <a class="btn btn-success float-right"
       [routerLink]="['/order']">
        Afrekenen
        <i class="fa fa-play" aria-hidden="true"></i>
    </a>
</div>
