.shopping-cart-list {
    margin-bottom: 0;
}

.shopping-cart-list .avatar {
    width: 50px;
    height: 50px;
}

.shopping-cart-list .product-name {
    font-size: 11px;
}

.shopping-cart-list .amount {
    width: 50px;
}

.shopping-cart-list > tbody > tr > td {
    vertical-align: middle;
}

.cart-empty {
    padding: 100px;
    background: #fafafa;
    text-align: center;
}

.shopping-cart-list .product .price {
    font-size: 11px;
}

.shopping-cart-details {
    background: #ffffff;
    padding: 15px;
}

app-shopping-cart-list {
    padding: 0;
}
